\venv
\__pycache__
\vc_playground
\build
*.pth
/voice_conversion/Sovits/monotonic_align/monotonic_align/core.cp38-win_amd64.pyd
*.c
*.so
audio_cache/dialog_cache.wav
*.wav
\models
.idea
.DS_Store
*.pt